.app {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  left:450px
}

.calculator {
  background: #020617;
  width: 330px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.7);
  color: #f3f4f6;
}

.screen {
  text-align: right;
  margin-bottom: 15px;
}

.formula {
  min-height: 20px;
  font-size: 14px;
  color: #9ca3af;
}

#display {
  font-size: 32px;
  font-weight: bold;
  color: #f9fafb;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  height: 60px;
  background: #0f172a;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button.operator {
  background: #1e293b;
  color: #38bdf8;
}

#clear {
  background: #ef4444;
  grid-column: span 1;
}

#equals {
  background: #22c55e;
  color: #022c22;
  grid-row: span 2;
}

.zero {
  grid-column: span 2;
}

button:hover {
  filter: brightness(1.15);
}
